# Node
node_modules/
dist/
.env

# VS Code
.vscode/

# dotnet
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
logs/
*.log

# Large files and executables
*.exe
*.msi
*.dmg
*.pkg
*.deb
*.rpm

# Archive temporary files
archive/*.exe
archive/*.docx
archive/~$*
